.cell {
    aspect-ratio: 1;
    color: aliceblue;
    font-size: 0.6em;
}

.empty {
    background: url(https://bmg-images.forward-publishing.io/2021/4/5/d9e7aaf3-449b-4701-9490-5fade56473c6.jpeg?auto=format);
}

.redCell {
    background-color: rgb(145, 12, 12);
}

.s {
    background-color: black(96, 107, 119);
}

.t {
    background-color: yellow;
}

.o {
    background-color: aqua;
}
.i {
    background-color: blue;
}

.z {
    background-color: green
}

.j {
    background-color: red;
}

.l {
    background-color: blueviolet;
}