@import url('cell.css');

body {
    background-color: darkslategrey;
}

div#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}
    div#preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
